<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <!-- A diretiva routerLinkActive funciona aplicando a classe css (no caso 'active') caso algum 
                dos links internos da sua tag possua um routerLink ativo no momento -->
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a routerLink="/recipes">Recipes</a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a routerLink="/auth">Authenticate</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/shopping-list">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a class="clickable">Logout</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a class="dropdown-toggle clickable" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="clickable" (click)="onSaveData()">Save Data</a></li>
                        <li><a class="clickable" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>