<div class="mb-1">
    <a class="list-group-item clearfix clickable"
        [routerLink]="[index]"
        routerLinkActive="active">
        <div class="row">
            <div class="col-xs-9 text-justify">
                <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
            <span>
                <img 
                    [src]="recipe.imagePath"
                    alt="{{ recipe.name }}"
                    class="img-resposive"
                    style="max-height: 50px"
                >
            </span>
        </div>
    </a>
</div>